In [4]:
#importing pandas
import pandas as pd

In [53]:
#format
#['Subject', 3, 'A-'], 
#3 is credit hours

data = [
    ['Public Speaking', 3, 'A-'],
    ['English Prof', 3, 'A-'],
    ['Prob Stat', 3, 'A+'],
    ['C++', 4, 'A'],
    ['Database', 3, 'B+'],
    ['Basic Writing', 3, 'A-'],
    ['OOAD', 4, 'A+'],
    ['Soft & Req', 3, 'A'],
    ['TCPIP', 3, 'A+'],
    ['Comp Ethic', 3, 'A'],
    ['Oral Comp', 3, 'B'],
    ['Web', 4, 'A-'],
    ['Soft Design', 4, 'A'],
    ['Soft Testing', 4, 'A-'],
    ['Cloud', 3, 'A'],
    ['Data Mining', 3, 'A']
]

columnName = ['Subject', 'Credit', 'Grade']
df = pd.DataFrame(data, columns=columnName)
print(df)

            Subject  Credit Grade
0   Public Speaking       3    A-
1      English Prof       3    A-
2         Prob Stat       3    A+
3               C++       4     A
4          Database       3    B+
5     Basic Writing       3    A-
6              OOAD       4    A+
7        Soft & Req       3     A
8             TCPIP       3    A+
9        Comp Ethic       3     A
10        Oral Comp       3     B
11              Web       4    A-
12      Soft Design       4     A
13     Soft Testing       4    A-
14            Cloud       3     A
15      Data Mining       3     A

In [54]:
#translating grade to cgpa
gpa = {
    'A+': 4.0,
    'A': 4.0,
    'A-': 3.67,
    'B+': 3.33,
    'B': 3.0,
    'B-': 2.67,
    'C+': 2.33,
    'C': 2.00,
    'F': 0.0
}

print(gpa)

{'A+': 4.0, 'A': 4.0, 'A-': 3.67, 'B+': 3.33, 'B': 3.0, 'B-': 2.67, 'C+': 2.33, 'C': 2.0, 'F': 0.0}

In [55]:
df.loc[:,'Credit':'Grade']

    Credit Grade
0        3    A-
1        3    A-
2        3    A+
3        4     A
4        3    B+
5        3    A-
6        4    A+
7        3     A
8        3    A+
9        3     A
10       3     B
11       4    A-
12       4     A
13       4    A-
14       3     A
15       3     A

In [56]:
import numpy as np
a = np.array(df.loc[:,'Credit':'Grade'])
print(a)

[[3 'A-']
 [3 'A-']
 [3 'A+']
 [4 'A']
 [3 'B+']
 [3 'A-']
 [4 'A+']
 [3 'A']
 [3 'A+']
 [3 'A']
 [3 'B']
 [4 'A-']
 [4 'A']
 [4 'A-']
 [3 'A']
 [3 'A']]

In [57]:
grades = a[:,1]
convertedGrades = []
print('Passed Grades')
print(grades)

for grade in grades:
    theGrade = gpa[grade]
    convertedGrades.append(theGrade)

print('\nConverted Grades')
print(convertedGrades)

Passed Grades
['A-' 'A-' 'A+' 'A' 'B+' 'A-' 'A+' 'A' 'A+' 'A' 'B' 'A-' 'A' 'A-' 'A' 'A']

Converted Grades
[3.67, 3.67, 4.0, 4.0, 3.33, 3.67, 4.0, 4.0, 4.0, 4.0, 3.0, 3.67, 4.0, 3.67, 4.0, 4.0]

In [58]:
work1 = np.vstack((np.array(a[:,0]),np.array(convertedGrades)))
sumGPA = np.sum(work1[0,:] * work1[1,:])
sumCredit = np.sum(work1[0,:])
cgpa = sumGPA/sumCredit

print("Total GPA:\t\t" + str(sumGPA))
print("Total Credit Hours:\t" + str(sumCredit))
print("CGPA:\t\t" + str(cgpa))

Total GPA:		201.38
Total Credit Hours:	53
CGPA:		3.799622641509434